//
// Form Select
//

.form-select {
    box-shadow: none !important;

    // Solid style
	&.form-select-solid {
		@include placeholder($input-solid-placeholder-color);
		background-color: $input-solid-bg;
		border-color: $input-solid-bg;
		color: $input-solid-color;
		transition: $transition-input;
		
		.dropdown.show > &,
		&:active,
		&.active,
		&:focus,
		&.focus {
			background-color: $input-solid-bg-focus;
			border-color: $input-solid-bg-focus !important;
			color: $input-solid-color;
			transition: $transition-input;
		}
	}

	// White style
	&.form-select-white {
		@include placeholder($input-placeholder-color);
		background-color: $body-bg;
		border-color: $body-bg;
		color: $input-color;

		.dropdown.show > &,
		&:active,
		&.active,
		&:focus,
		&.focus {
			background-color: $body-bg;
			border-color: $body-bg !important;
			color: $input-color;
		}
	}
}

// Estilos Form Select de la libreria React-Select

.css-yk16xz-control {
    background-color: transparent !important;
    border-width: 0px !important;
	min-height: 40px !important;
	font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #181C32;
}

.css-1pahdxg-control {
    background-color: transparent !important;
    border-width: 0px !important;
	min-height: 40px !important;
	font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #181C32;
}

.css-1pahdxg-control {
    box-shadow: 0 0 0 1px transparent !important;
}

.css-26l3qy-menu{
	border: 0px solid transparent !important;

}

